#inputs {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.majorInputItem{
    width: 18%;
    margin: 1% 1%;
}

.extraSpace{
  margin-bottom: 5em;
}

@media (max-width: 40em) {
  .majorInputItem{
    width: 31%;
    margin: 1% 1%;
}

.extraSpace{
  margin-right: 66%;
}
}