#result {
  width:100%;
}

#resultBoxes{
  margin-top:1em;
  display: flex; 
  flex-flow: row wrap;
}
#resultText {
  padding: 1em;
}

.numberGroup {
  width: 9%;
  margin: 0.5% 0.5%
}

.text {
  text-align: center;
}


@media (max-width: 40em) {
  .numberGroup {
    width: 18%;
    margin-right: 1%;
    margin-top: 0.5em;
  }
}